@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway";
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 80rem;
  padding: 0 9.375rem 0 9.375rem;
  
  .header {
    width: 61.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;

    .title {
      width: 6.75rem;
      font-size: 0.75rem;
      font-weight: 500;
      border: 1px solid #FFF;
      color: #FFF;
      padding: 0.4rem;
    }

    .info {
      width: 8.9rem;
      color: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      box-sizing: border-box;

      img {
          width: 1.5rem;
          height: 2rem;
        }

      .text {
        width: 6.75rem;
        height: 1.5rem;
        font-size: 0.7rem;
        font-weight: 600;
      }

    }
  }

  .main {
    height: 31.25rem;
    margin-top: 3.5rem;
    display: flex;
    align-items: center;

    .chips {
      height: 8.125rem;
      width: 30.25rem;

      .upper-chips {
        height: 3.75rem;
      }

      .lower-chips {
        height: 3.75rem;
        margin-top: 0.625rem;
      }

      .Chip {
        font-family: "Raleway";
        height: 3.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        background-color: #1986EC;
        color: #FFF;
        padding: 1rem;
        border-radius: 2.75rem;
        margin-right: 0.25rem;
      }
    }

    .def {
      height: 100%;
      width: 30.25rem;
    }
  }
}

@media (max-width: 767px) {
	html {
    font-size: 10px;
  }
}

@media (orientation: portrait) {
  /* Для вертикальной ориентации */
}
